.item {
    border-bottom: 1px solid #E5E5E5;
}

.item:last-of-type {
}

.users {
    margin-top: 18px;
    border-collapse:collapse;
}

.buttonsContainer {
    display: flex;
}

.container {

}

.thead {
    background: #E5E5E5;
    font-size: 14px;
    font-weight: 600;
}

.nameCol {
    width: 303px;
    padding: 10px;
}

.ageCol {
    width: 303px;
}