.select {
    margin-right: 100px;
    width: 165px;
    height: 24px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    border-top-width: 1px;
}

.select:focus {
    outline: none;
    border: #2b2bd2 solid 2px;
}


.option:hover {
    box-shadow: 0 0 10px 100px #FED20F inset;
    transition: all .2s ease-in-out;
    background: #cc0000;
}
